# base URL to reach the OpenBAS server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENBAS_URL=
# admin account API token from the OpenBAS server
OPENBAS_TOKEN=
# collector ID must be a unique string, e.g. UUIDv4
COLLECTOR_ID=

# some appropriate defaults
COLLECTOR_NAME="Microsoft Entra"
COLLECTOR_LOG_LEVEL=warn
COLLECTOR_TYPE=openbas_microsoft_entra
COLLECTOR_PERIOD=60

# Microsoft Entra-specific: find these values
# in your Microsoft Entra app account settings
MICROSOFT_ENTRA_TENANT_ID=
MICROSOFT_ENTRA_CLIENT_ID=
MICROSOFT_ENTRA_CLIENT_SECRET=
INCLUDE_EXTERNAL=false