version: '3'
services:
  collector-microsoft-entra:
    image: openbas/collector-microsoft-entra:1.13.0
    environment:
      - OPENBAS_URL=http://localhost
      - OPENBAS_TOKEN=ChangeMe
      - COLLECTOR_ID=ChangeMe
      - "COLLECTOR_NAME=Microsoft Entra"
      - COLLECTOR_LOG_LEVEL=error
      - MICROSOFT_ENTRA_TENANT_ID=
      - MICROSOFT_ENTRA_CLIENT_ID=
      - MICROSOFT_ENTRA_CLIENT_SECRET=
      - INCLUDE_EXTERNAL=false
    restart: always
