### More env vars are defined in the example docker-compose.yml file
### with appropriate defaults.

# base URL to reach the OpenBAS server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENBAS_URL=
# admin account API token from the OpenBAS server
OPENBAS_TOKEN=
# collector ID must be a unique string, e.g. UUIDv4
COLLECTOR_ID=

# Nvd Nist Cve-specific: find these values
# in your Nvd Nist account settings
NVD_NIST_CVE_API_KEY=
