# base URL to reach the OpenBAS server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENBAS_URL=
# admin account API token from the OpenBAS server
OPENBAS_TOKEN=
# collector ID must be a unique string, e.g. UUIDv4
COLLECTOR_ID=

# some appropriate defaults
COLLECTOR_NAME="OpenBAS Datasets"
COLLECTOR_LOG_LEVEL=warn
COLLECTOR_PERIOD=604800
COLLECTOR_TYPE=openbas

# other configs
OPENBAS_URL_PREFIX=https://raw.githubusercontent.com/OpenBAS-Platform/payloads/refs/heads/main/
OPENBAS_IMPORT_ONLY_NATIVE=false