# base URL to reach the OpenBAS server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENBAS_URL=
# admin account API token from the OpenBAS server
OPENBAS_TOKEN=
# collector ID must be a unique string, e.g. UUIDv4
COLLECTOR_ID=

# some appropriate defaults
COLLECTOR_NAME="Microsoft Sentinel"
COLLECTOR_LOG_LEVEL=warn
COLLECTOR_TYPE=openbas_microsoft_sentinel
COLLECTOR_PERIOD=60
COLLECTOR_PLATFORM=SIEM

# Microsoft Sentinel-specific: find these values
# in your Microsoft Sentinel app account settings
MICROSOFT_SENTINEL_TENANT_ID=
MICROSOFT_SENTINEL_CLIENT_ID=
MICROSOFT_SENTINEL_CLIENT_SECRET=
MICROSOFT_SENTINEL_SUBSCRIPTION_ID=
MICROSOFT_SENTINEL_WORKSPACE_ID=
MICROSOFT_SENTINEL_RESOURCE_GROUP=
MICROSOFT_SENTINEL_EDR_COLLECTORS=