services:
  collector-microsoft-sentinel:
    image: openbas/collector-microsoft-sentinel:latest
    environment:
      - OPENBAS_URL=${OPENBAS_URL}
      - OPENBAS_TOKEN=${OPENBAS_TOKEN}
      - COLLECTOR_ID=${COLLECTOR_ID}
      - COLLECTOR_NAME=${COLLECTOR_NAME:-"Microsoft Sentinel"}
      - COLLECTOR_LOG_LEVEL=${COLLECTOR_LOG_LEVEL:-warn}
      - COLLECTOR_TYPE=${COLLECTOR_TYPE:-openbas_microsoft_sentinel}
      - COLLECTOR_PERIOD=${COLLECTOR_PERIOD:-60}
      - COLLECTOR_PLATFORM=${COLLECTOR_PLATFORM:-SIEM}
      - MICROSOFT_SENTINEL_TENANT_ID=${MICROSOFT_SENTINEL_TENANT_ID}
      - MICROSOFT_SENTINEL_CLIENT_ID=${MICROSOFT_SENTINEL_CLIENT_ID}
      - MICROSOFT_SENTINEL_CLIENT_SECRET=${MICROSOFT_SENTINEL_CLIENT_SECRET}
      - MICROSOFT_SENTINEL_SUBSCRIPTION_ID=${MICROSOFT_SENTINEL_SUBSCRIPTION_ID}
      - MICROSOFT_SENTINEL_WORKSPACE_ID=${MICROSOFT_SENTINEL_WORKSPACE_ID}
      - MICROSOFT_SENTINEL_RESOURCE_GROUP=${MICROSOFT_SENTINEL_RESOURCE_GROUP}
      - MICROSOFT_SENTINEL_EDR_COLLECTORS=${MICROSOFT_SENTINEL_EDR_COLLECTORS}
    restart: unless-stopped