services:
  collector-crowdstrike:
    image: openbas/collector-crowdstrike:latest
    environment:
      - OPENBAS_URL=${OPENBAS_URL}
      - OPENBAS_TOKEN=${OPENBAS_TOKEN}
      - COLLECTOR_ID=${COLLECTOR_ID}
      - COLLECTOR_NAME=${COLLECTOR_NAME:-CrowdStrike}
      - COLLECTOR_TYPE=${COLLECTOR_TYPE:-openbas_crowdstrike}
      - COLLECTOR_PERIOD=${COLLECTOR_PERIOD:-60}
      - COLLECTOR_LOG_LEVEL=${COLLECTOR_LOG_LEVEL:-warn}
      - COLLECTOR_PLATFORM=${COLLECTOR_PLATFORM:-EDR}
      - CROWDSTRIKE_BASE_URL=${CROWDSTRIKE_BASE_URL}
      - CROWDSTRIKE_UI_BASE_URL=${CROWDSTRIKE_UI_BASE_URL}
      - CROWDSTRIKE_CLIENT_ID=${CROWDSTRIKE_CLIENT_ID}
      - CROWDSTRIKE_CLIENT_SECRET=${CROWDSTRIKE_CLIENT_SECRET}
    restart: unless-stopped
