# base URL to reach the OpenBAS server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENBAS_URL=
# admin account API token from the OpenBAS server
OPENBAS_TOKEN=
# collector ID must be a unique string, e.g. UUIDv4
COLLECTOR_ID=

# some appropriate defaults
COLLECTOR_NAME="Microsoft Defender"
COLLECTOR_LOG_LEVEL=warn
COLLECTOR_PLATFORM=EDR
COLLECTOR_TYPE=openbas_microsoft_defender
COLLECTOR_PERIOD=60

# Microsoft Defender-specific: find these values
# in your Microsoft Defender app account settings
MICROSOFT_DEFENDER_TENANT_ID=
MICROSOFT_DEFENDER_CLIENT_ID=
MICROSOFT_DEFENDER_CLIENT_SECRET=